@font-face{
    font-family:'LetraPrincipal';
    src: url('/Public/Fonts/LetraPrincipal.otf');
}
@font-face {
    font-family:'FuenteLogin';
    src: url('/Public/Fonts/LeagueSpartan-VariableFont_wght.ttf');
}
@font-face {
    font-family:'FuenteBoton';
    src: url('/Public/Fonts/Garet-Book.otf');
}
@font-face {
    font-family:'FuenteTexto';
    src: url('/Public/Fonts/Poppins-Regular.ttf');
}
/*Se insertan y se nombran todas las fuentes necesarias para el diseño*/
body{
    width: 100%;
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
}
header{
    background-color: black;
    width: 100%;
    height: 70px;
}
main{
    display: flex;
}
section{
    width: 60%;
    
}
h1{
    font-family: 'FuenteTexto';
    color: #b42525;
    width: 80%;
    margin-top: 10%;
    margin-left: 5%;
    font-size: 35px;
}
p{
    font-family: 'FuenteTexto';
    color:  black;
    width: 85%;
    margin-top: 5%;
    margin-left: 5%;
    font-size: 30px;
}
div{
    width: 40%;
    
}
img{
    width: 140%;
    height: 115%;
    z-index: -1;
    margin-top: 10%;
    margin-left: 1%;
}
footer{
    background-color: black;
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0px;
}