@font-face{
    font-family:'LetraPrincipal';
    src: url('/Public/Fonts/LetraPrincipal.otf');
}
@font-face {
    font-family:'FuenteLogin';
    src: url('/Public/Fonts/LeagueSpartan-VariableFont_wght.ttf');
}
@font-face {
    font-family:'FuenteBoton';
    src: url('/Public/Fonts/Garet-Book.otf');
}
@font-face {
    font-family:'FuenteTexto';
    src: url('/Public/Fonts/Poppins-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

.container {
    background-color: white;
    color: black;
    padding: 30px; 
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); 
    width: 100%;
    height: 95%;
    text-align: left;
    margin-top: -60px;
}

h1 {
    margin-bottom: 10px;
    font-size: 24px;
    font-family: 'LetraPrincipal';
    color: #b42525;
    font-size: 50px;
    text-align: left;
}

p {
    margin-bottom: 20px;
    font-size: 18px;
    font-family: 'FuenteTexto';
    font-size: 40px;
    text-align: left;
    margin-left: 25px;
}

.update-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    border: 4px solid #b42525;
    border-radius: 5px;
    padding: 20px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
}

.form-group {
    flex: 1;
    min-width: 150px;
    font-family: 'FuenteTexto';
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: black;
    border: 4px solid #b42525;
}

input:focus {
    border: 1px solid #007BFF;
    outline: none;
}

.update-btn {
    background-color: #b42525;
    font-size: 18px;
    color: rgb(225, 187, 53);
    border: 1px solid rgb(199, 28, 28);
    padding: 10px 15px;
    border-radius: 25px;
    cursor: pointer;
    width: 10%;
    margin: auto;
}

.update-btn:hover {
    background-color: #9d1313;
    border: 1px solid #811414; 
}
